<app-top-nav></app-top-nav>

<div [ngSwitch]="loading">
  <div *ngSwitchCase="true" class="mx-6 outer-div">
    <div class="pat mx-2 py-2">
        <div class="pat-info mb-2 bg-white rounded">
            <div class="flex px-4  minLG:col-span-1 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer transition duration-200 hover:border-[#ff3e00] ease-in-out border-b border-gray-200">
              <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
                </div>
                <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
                  <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
                </div>
                <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
                  <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
                </div>
                <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
                  <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
                </div>
                <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
                  <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
                </div>
                <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
                  <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
                </div>
                <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
                  <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
                </div>
                <div class="flex col-span-5 minMD:col-span-3 minLG:col-span-3 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  transition duration-200 ease-in-out">
                  <ngx-skeleton-loader  [theme]="{ height: '60px',width: '300px'}"></ngx-skeleton-loader>
                </div>
        </div>
        <div class="pat-team bg-white my-4">
            <div class="flex flex-col pt-4 pl-4">
              <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
            </div>
            <div class="w-full  mt-2 px-2 ">
                <div class="pl-2 minLG:col-span-2 flex cursor-pointer hover:border-[#ff3e00] border-b my-2 transition duration-200 ease-in-out md:mb-0 border-gray-200">
                  <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
                </div>
                <div class="pl-2 w-full mt-2 px-2 flex hover:border-[#ff3e00] border-b">
                  <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
                </div>
            </div>
            <div class="pl-2 minLG:col-span-2 flex cursor-pointer hover:border-[#ff3e00] border-b my-2 transition duration-200 ease-in-out md:mb-0 border-gray-200">
              <ngx-skeleton-loader  [theme]="{ height: '25px',width: '300px'}"></ngx-skeleton-loader>
             </div>
                
        </div>
            
    </div>
    <div class="records bg-white mx-2 py-2 rounded mb-4 md:mb-0 px-2">
        <div class="pl-4 flex justify-between">
          <ngx-skeleton-loader  [theme]="{ height: '80px',width: '800px'}"></ngx-skeleton-loader>
        </div>
        <div class="pl-4">
        <ngx-skeleton-loader  [theme]="{ height: '25px',width: '800px'}"></ngx-skeleton-loader>
      </div>
        <div class="pl-4">
          <ngx-skeleton-loader  [theme]="{ height: '400px',width: '800px'}"></ngx-skeleton-loader>
        </div>
  </div>
  </div>
  <div *ngSwitchCase="false" class="mx-6 outer-div">
    <div class="flex flex-col items-center mx-auto">
      <p class="text-center text-2xl px-3">FULL REPORT DETAILS</p>
    </div>
    <div class="grid grid-cols-6 gap-6 mb-4">
      <div class="col-span-6">
      <div class="-mt-2 lg:mt-0 rounded grid grid-cols-6 gap-2">
           <div class="col-span-6 sm:col-span-3 lg:col-span-2 bg-white rounded">
            <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:text-[#ff3e00] transition duration-200 ease-in-out border-gray-200">
              <p class="text-md text-center px-4 text-lg">Base Info</p>
            </div>
              <div class="flex px-4  minLG:col-span-1 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer transition duration-200 hover:border-[#ff3e00] ease-in-out border-b border-gray-200">
              <p class="font-semibold text-md text-center px-4">Date:</p><p class="rounded  text-center">{{ patrouille.patrouille.date | date:'h:mm a, EEEE MMM d, y'}}</p>
              </div>
              <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
              <p class="font-semibold text-md text-center px-4">Type De Patrouille:</p><p class="rounded  text-center">{{patrouille.patrouille.type}}</p>
              </div>
              <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
              <p class="font-semibold text-md text-center px-4">Secteur:</p><p class="rounded  text-center">{{patrouille.patrouille.sector}}</p>
              </div>
              <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
              <p class="font-semibold text-md text-center px-4">Composition De la Patrouille:</p><p class="rounded  text-center">{{patrouille.patrouille.composition}}</p>
              </div>
              <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-gray-200">
              <p class="font-semibold text-md text-center px-4">Groupe De Gorille:</p><p class="rounded  text-center">{{patrouille.patrouille.family}}</p>
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2 bg-white lg:rounded">
              <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:text-[#ff3e00] transition duration-200 ease-in-out border-gray-200">
                <p class="text-md text-center px-4 text-lg">Location</p>
              </div>
              <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
              <p class="font-semibold text-md text-center px-4">Feuille No:</p><p class="rounded  text-center">{{patrouille.patrouille.feuilleNO}}</p>
              </div>
              <div class="flex  minLG:col-span-1 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer hover:border-[#ff3e00] transition duration-200 ease-in-out border-b border-gray-200">
              <p class="font-semibold text-md text-center px-4">GPS No:</p><p class="rounded  text-center">{{patrouille.patrouille.gpsNO}}</p>
              </div>
              <div class="flex col-span-5 minMD:col-span-3 minLG:col-span-3 px-4 py-1 md:py-2  mt-2 md:mt-0 cursor-pointer  transition duration-200 ease-in-out">
                  <p class="font-semibold text-md text-center px-4">Itineraire:</p><p class="rounded  text-center">{{patrouille.patrouille.path}}</p>
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2 rounded bg-white">
              <div class="flex flex-col">
                  <p class="text-center px-4 text-lg cursor-pointer hover:text-[#ff3e00] transition duration-200 ease-in-out py-2">Membres De l' Equipe</p>
              </div>
              <div class="w-full  mt-2 px-2 ">
                  <div class=" minLG:col-span-2 flex cursor-pointer hover:border-[#ff3e00] border-b my-2 transition duration-200 ease-in-out md:mb-0 border-gray-200">
                     <p class="px-2 font-semibold"> Chef d' equipe: </p><p class="text-center px-4">{{patrouille.patrouille.teamLeader}}</p>
                  </div>
                  <div class="w-full mt-2 px-2 flex hover:border-[#ff3e00] border-b">
                      <p class="px-2 font-semibold">Noms:</p> 
                      <div class="">
                          <span class="block px-4 py-0 " *ngFor="let name of patrouille.patrouille.names"><span class="font-bold text-xl">.</span> {{name}}</span>
                      </div>
                  </div>
              </div>
              <div class=" minLG:col-span-2 flex cursor-pointer my-2 transition duration-200 ease-in-out md:mb-0 border-gray-200">
                  <p class="px-2 font-semibold"> Nombre: </p><p class="text-center px-4">{{patrouille.patrouille.nTeamMembers}}</p>
               </div>
                  
          </div>
      </div>
    </div>
  </div>
  <div class="bg-white rounded">
      <div class="flex justify-between">
          <p class="w-1/2 text-center px-2 font-semibold text-lg">Enregistrements</p>
          <div class="w-1/2 grid justify-items-end mb-2 px-3 py-2">
              <button (click)="addNew()" *ngIf="isloggedIn" mat-mini-fab color="accent" class="focus:outline-none mx-6" aria-label="Add Icon">
                  <mat-icon>add</mat-icon>
              </button>
          </div>
      </div>
      <mat-form-field class="px-4 w-full">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource" matSort class="w-full">
      
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
            <td mat-cell *matCellDef="let row"> {{row.time}} </td>
          </ng-container>
      
          <ng-container matColumnDef="wpt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No wpt </th>
            <td mat-cell *matCellDef="let row"> {{row.wpt}} </td>
          </ng-container>

          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Easting<br>Northing </th>
            <td mat-cell *matCellDef="let row">{{row.northing}}<br> {{row.easting}} </td>
          </ng-container>

          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
            <td mat-cell *matCellDef="let row"> {{row.number}} </td>
          </ng-container>

          <ng-container matColumnDef="observation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Observation </th>
            <td mat-cell *matCellDef="let row"> {{row.observation}} </td>
          </ng-container>

          <ng-container matColumnDef="otype">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type De Observation </th>
            <td mat-cell *matCellDef="let row"> {{row.otype}} </td>
          </ng-container>


          <ng-container matColumnDef="sitename">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Du site </th>
            <td mat-cell *matCellDef="let row"> {{row.sitename}} </td>
          </ng-container>
      
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]"></mat-paginator>
      </div>
  </div>
  <div *ngSwitchDefault class=" h-40 bg-red-500">

  </div>
        
</div>

