::-webkit-scrollbar {
display: none;
}

@media (min-width: 1000px) { 
		.pat{
			width: 100%;
			overflow-y: auto;
		}
		.records{
			overflow-y: auto;
		}
	 }
    ::-webkit-scrollbar {
    display: none;
}

