<div class="container">
    <p class="text-xl font-semibold" mat-dialog-title>Add new record</p>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #input type="text" class="form-control" placeholder="Code" [(ngModel)]="data.code" name="code" minlength="7" maxlength="7" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <!-- <mat-form-field color="primary">
            <mat-label>Type De Patruille</mat-label>
            <mat-select formControlName="type">
              <mat-option>NONE</mat-option>
              <mat-option *ngFor="let food of [{value: 'ADMIN',viewValue:'ADMIN'},{value: 'USER',viewValue:'USER'}]" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field  color="primary">
            <mat-label>CODE LEVEL</mat-label>
            <mat-select [(ngModel)]="data.level" [ngModelOptions]="{standalone: true}">
              <mat-option>NONE</mat-option>
              <mat-option *ngFor="let food of [{value: 'ADMIN',viewValue:'ADMIN'},{value: 'USER',viewValue:'USER'}]" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>    
      <div mat-dialog-actions>
        <button mat-button color="send" type="submit" [disabled]="!formControl.valid" class="focus:outline-none" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1" class="focus:outline-none">Cancel</button>
      </div>
    </form>
  </div>