<div class="dialog">
  <div *ngIf="isloggedIn && isAdmin">
<p mat-dialog-title class="font-semibold text-lg">Supprimer la  patrouille</p>
<div mat-dialog-content>
  <p class="">Êtes-vous sûr de vouloir supprimer cette Patrouille ?</p>
</div>
<div mat-dialog-actions class="flex">
  <button mat-button  class="py-1.5 px-6 rounded bg-[#ff3e00] text-white mx-2 focus:outline-none" [mat-dialog-close]="1" (click)="confirmAdd()">Oui Supprimer</button>
  <button mat-button  class="py-1.5 px-6 rounded bg-[#e4e4e4] mx-2 focus:outline-none" (click)="confirmAdd()" [mat-dialog-close]="-1">Non Merci</button>
</div>
</div>
<div *ngIf="isloggedIn && !isAdmin">
  <p mat-dialog-title class="font-semibold text-lg">Supprimer la  patrouille</p>
  <div mat-dialog-content>
    <p class="">Vous n'avez pas la permission de supprimer cette patrouille</p>
  </div>
  <div mat-dialog-actions class="flex flex-row-reverse">
    <button mat-button  class="py-1.5 px-6 rounded bg-[#e4e4e4]  mx-2 focus:outline-none" [mat-dialog-close]="-1" (click)="confirmAdd()">Ok, bien</button>
  </div>
  </div>
<div *ngIf="!isloggedIn">
<p mat-dialog-title class="font-semibold text-lg">Supprimer la  patrouille</p>
<div mat-dialog-content>
  <p class="">Vous n'êtes pas connecté, Connecté?</p>
</div>
<div mat-dialog-actions class="flex">
  <button mat-button  class="py-1.5 px-8 rounded bg-green-400 text-white mx-2 focus:outline-none" (click)="confirmAdd()" routerLink="/login" [mat-dialog-close]="-1">Connecté</button>
  <button mat-button  class="py-1.5 px-6 rounded bg-[#e4e4e4]  mx-2 focus:outline-none" [mat-dialog-close]="-1" (click)="confirmAdd()">Non Merci</button>
</div>
</div>
</div>