<app-top-nav></app-top-nav>
<form class="grid justify-items-center">
    <div class="py-4 px-8 shadow-lg rounded-lg my-5 bg-white">
        <mat-tab-group dynamicHeight class="tabs">
            <mat-tab label="Statistics">
              <app-dashboard-charts></app-dashboard-charts>
            </mat-tab>
            <mat-tab label="Codes">
              <div class="">
                <app-codes></app-codes>
              </div>
            </mat-tab>
          </mat-tab-group>
          
      </div>
    </form>
