<div>
    <div class="h-20">
        
    </div>
    <mat-divider></mat-divider>
<div routerLink="/admin" class="flex flex-col mx-auto items-center py-2 hover:font-semibold hover:text-black transition-all cursor-pointer">
    <mat-icon aria-hidden="false" class="w-20" color="primary" aria-label="Example home icon">dashboard</mat-icon>
    <p>Dashboard</p>
</div>
<mat-divider></mat-divider>
<div routerLink="/admin/reports" class="flex flex-col mx-auto items-center py-2 hover:font-semibold hover:text-black transition-all cursor-pointer">
    <mat-icon aria-hidden="false" class="w-20" color="primary" aria-label="Example home icon">report</mat-icon>
    <p>Reports</p>
</div>
<mat-divider></mat-divider>
<div routerLink="/admin/codes" class="flex flex-col mx-auto items-center py-2 hover:font-semibold hover:text-black transition-all cursor-pointer">
    <mat-icon aria-hidden="false" class="w-20" color="primary" aria-label="Example home icon">remove_red_eye</mat-icon>
    <p>Codes</p>
</div>
</div>