<div class="container">
    <p class="text-xl font-semibold" mat-dialog-title>Ajouter un nouvel enregistrement</p>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #input type="time" class="form-control" placeholder="Time" [(ngModel)]="data.time" name="time" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #inputwpt type="number" class="form-control" placeholder="No Wpt" [(ngModel)]="data.wpt" name="wpt" maxlength="10" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputwpt.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
  
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #inputnorthing class="form-control" type="number" placeholder="Northing" [(ngModel)]="data.northing" name="northing" maxlength="4" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputnorthing.value?.length || 0}}/4</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="primary">
          <input matInput #inputeasting type="number" class="form-control" placeholder="Easting" [(ngModel)]="data.easting" name="easting" maxlength="4" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputeasting.value?.length || 0}}/4</mat-hint>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #inputnumber type="number" placeholder="Nombre" [(ngModel)]="data.number" name="number" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #inputobservation type="text" placeholder="Observation" [(ngModel)]="data.observation" name="observation" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #inputotype type="text" placeholder="Type de Observation" [(ngModel)]="data.otype" name="otype" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #inputsitename type="text" placeholder="Nom du site" [(ngModel)]="data.sitename" name="sitename" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field class="example-chip-list">
        <mat-label>Remarks</mat-label>
        <mat-chip-list #chipList aria-label="remark selection">
          <mat-chip *ngFor="let remark of remarks" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(remark)">
            {{remark}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Remark..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
  
      <div mat-dialog-actions>
        <button mat-button color="send" type="submit" [disabled]="!formControl.valid" class="focus:outline-none" [mat-dialog-close]="1" (click)="confirmAdd()">Enregistrer</button>
        <button mat-button (click)="onNoClick()" tabindex="-1" class="focus:outline-none">
          Annuler</button>
      </div>
    </form>
  </div>