
@media (min-width: 500px){
    .tabs{
        width: 400px;;
    }
}

@media (min-width: 700px){
    .tabs{
        width: 600px;;
    }
}

@media (min-width: 900px){
    .tabs{
        width: 800px;;
    }
}

@media (min-width: 1200px){
    .tabs{
        width: 1000px;
    }
}